body {
    padding: 0%;
    margin: 0%;
   
}


/* entéte */
.logo {
    width: 90px;
}
.logo img {
    max-width: 90px;
}


/* scroll to top button */
#scrollToTopBtn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  padding: 5px 15px;
  font-size: 16px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  display: none; /* Initially hidden */
}

#scrollToTopBtn:hover {
  background-color: #1a7be2;
}


.entete {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
    
}

.entete-header {
    display: flex;
    margin: 0%;
    padding: 0%;
    font-weight: bold;
    align-items: center;
    
}

.header {
    
/*  background-image: url(stade.jpg); */
  height: 300px;
  background-blend-mode: multiply;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('stade.jpg');
  
} 

/* navbar */
.navbar {
    width: 100%;
    
    
}

.navbar ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.navbar ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: larger;
}

.navbar ul li a:hover {

    color: blue;
}

.navbar ul li {
    position: relative;
    padding: 0 10px;
}

 .navbar ul li:not(:first-child)::before {
    content: "";
    position: absolute;
    left: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background-color: gray;
} 

/* Hamburger styles */
.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  user-select: none;
  color: white;
}

/* Responsive navbar styles */
@media (max-width: 768px) {
  .menu-toggle {
      display: block;
  }

  .navbar ul {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      display: none;
      width: 30%;
      background-color: white;
      border-top: 1px solid #ccc;
  }

  .navbar ul.show {
      display: flex;
  }

  .navbar ul li {
      width: 100%;
      padding: 10px;
      border-bottom: 1px solid #eee;
  }

  .navbar ul li:not(:first-child)::before {
      display: none;
  }
}

/* hero */
.hero-section {
    height: 100vh;
  /*  background-image: url(workers-gradient2.png); */
  background-image: url(stade.jpg);
    background-size: cover;
    padding-top: 1%;
}

.content-overlay {
    position: absolute;
    top: 50%;
    left: 10%; 
    transform: translateY(-50%);
    color: white; 
    max-width: 40%; 
  }

  .content-overlay h1 {
    font-size: 32px; 
    margin-bottom: 20px;
    font-weight: bold;
  }
  

  .morebutton {
    padding: 13px;
    background-color: #0056b3;
    border-radius: 5px;
    cursor: pointer;
  }

  .morebutton:hover {
    background-color: #0c71dd;

  }

  /* presentation */
  .presentation {
    padding: 40px;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
  }
  
  .presentation-content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .presentation-text {
    flex: 1;
    max-width: 600px;
  }
  
  .presentation-text .title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #000;
  }
  
  .subheading h1 {
    font-size: 20px;
    margin-bottom: 15px;
    color: #444;
  }
  
  .paragraph p {
    font-size: 16px;
    line-height: 1.6;
    color: #555;
  }
  
  .presentation-info {
    display: flex;
    gap: 40px;
    margin-top: 20px;
  }
  
  .presentation-info h1 {
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    color: #0a1b32;
  }
  
  .presentation-info p {
    margin: 4px 0 0 0;
    font-size: 14px;
  }
  
  .presentation-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-wrapper {
    position: relative;
   /* width: 800px;
    height: 423px; */
    overflow: hidden;
    border: 6px solid #120ed6;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 0; 
  }
  
  .image-wrapper img {
    width: 100%;
    height: 100%;
   /* object-fit: cover; */
   object-fit: contain;
  }
  
  

  /* specialités */
  h1.title {
    text-align: center;
    margin-top: 40px;
    font-size: 32px;
    color: #ffffff; 

  
    font-weight: bold;
}

.specialites {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 40px 20px;
    max-width: 1200px;
    margin: 0 auto;
}

.specialites-card {
    background-color: #ffffff;
    /* border: 1px solid #ddd; */
    border: 1px solid #cce0ff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center;
    transition: transform 0.2s, box-shadow 0.2s;
    
}

.specialites-card a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}

.specialites-card a:hover {
    color: blue;
}

.specialites-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0,0,0,0.15);
}

.specialites-card img {
    width: 100%;
    max-height: 150px;
    object-fit: cover;
    border-radius: 6px;
    margin-bottom: 15px;
}



.specialites-card p {
    color: #555;
    font-size: 14px;
}

@media (max-width: 768px) {
    .specialites {
        grid-template-columns: 1fr 1fr;
    }

    .presentation-content {
      display: flex;
      flex-direction: column;
    }
}

@media (max-width: 480px) {
    .specialites {
        grid-template-columns: 1fr;
    }
}

.insriverBtn {
  display: inline-block;
  padding: 8px;
  background-color: #0056b3;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  text-align: center;
  margin-bottom: 10px;
  width: 150px;
  text-decoration: none; /* remove underline */
}

.insriverBtn:hover {
  background-color: #1a7be2;
}

.center-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form inscription */
form {
    background-color: white;
    max-width: 500px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
    border: 1px solid #cce0ff;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  label {
    display: block;
    margin-top: 15px;
    color: #003366; /* dark blue */
    font-weight: bold;
  }

  #specialite, #numero, #email, #age, #prenom, #nom {
    width: 100%;
  }

  input[type="text"],
  input[type="number"],
  input[type="email"],
  select {
 /*   width: 100%; */
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #99ccff;
    border-radius: 4px;
    background-color: #f9fcff;
    color: #003366;
  }

  textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #99ccff;
    border-radius: 4px;
    background-color: #f9fcff;
    color: #003366;
    resize: vertical; /* allows user to resize up and down */
    min-height: 100px;
  }

  input[type="checkbox"] {
    margin-top: 20px;
  }

  .submitbtn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

 .submitbtn:hover {
    background-color: #0056b3;
  }

  .checkbox-container {
    display: flex;
    align-items: center;
    gap: 8px; 
    margin-top: 20px;
  }



  /* contact */

.contact-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 30px;
    align-items: center;
}

@media (max-width: 768px) {

  .contact-section {
    display: flex;
    flex-direction: column;
  }
}

.form-container {
  margin-left: 10px;
}

.submitbtn2 {
  display: block;
  margin: 20px auto 0; /* top auto bottom */
  padding: 10px;
      background-color: #007bff;
      color: white;
      font-size: 16px;
      font-weight: bold;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
    }
  
   .submitbtn2:hover {
      background-color: #0056b3;
    }

.info-container h1 {
    font-weight: bold;
    color: #0a1b32;
   
    
    
}

.info-container {
    gap: 20px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    
}
.divider2 {
  width: 80%;
}



.map-container {
  box-shadow: 0 4px 8px rgba(0, 0, 255, 0.1);
  border: 1px solid #cce0ff;
  
}

  /* Podiums/ Resultats */
  h2 {
    color: #2c3e50;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
  }

  .podium {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 250px;
    gap: 10px;
    margin-bottom: 10px;

  }

  .step {
    width: 200px;
    background: #3498db;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 8px 8px 0 0;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }

  .first {
    height: 180px;
    background: #f1c40f;
    color: #2c3e50;
  }

  .second {
    height: 140px;
    background: #bdc3c7;
    color: #2c3e50;
  }

  .third {
    height: 100px;
    background: #cd7f32;
  }

  .rank {
    font-weight: bold;
    margin-top: 5px;
  }

  .divider {
    width: 50%;
    margin: 40px auto;
  }
#input1, #input2, #input3 {
  /*   width: 100%; */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #99ccff;
  border-radius: 4px;
  background-color: #f9fcff;
  color: #003366;
}

  .addBtn {
    padding: 8px;
    background-color: #0056b3;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    margin-top: 10px;
  }
  .addBtn:hover {
    background-color: #1573d6;

  }

